
@font-face {
  font-family: 'EdoSZ';
  src: url('EdoSZ.eot?#iefix') format('embedded-opentype'),  url('EdoSZ.woff') format('woff'), url('EdoSZ.ttf')  format('truetype'), url('EdoSZ.svg#EdoSZ') format('svg');
  font-weight: normal;
  font-style: normal;
}
